.navbar-right li {
  margin-right:20px;
}

.floatleft {
  float: left;
  display: inline-block;
}

.welcome {
  background-color: #e6e6e6;
  border: solid black 1px;
}

.col-md-6{
  background-color: green;
}

.col-md-5{
  background-color: lavender;
}

.purple{
  background-color: purple;

}
