.navbar-right li {
  margin-right:20px;
}

.floatleft {
  float: left;
  display: inline-block;
}

.welcome {
  background-color: #e6e6e6;
  border: solid black 1px;
}

.col-md-6{
  background-color: #f5fffa;
  height: 608px;
}

.col-md-4{
  background-color: lavender;
  height: 608px;
}

.purple{
  background-color: purple;

}

.col-md-2 {
  border: 3px dashed pink;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  padding-left: 0;
}
